services:
  user_service_db:
    container_name: user_service_db
    restart: always
    image: postgres:17.6-alpine
    volumes:
      - user-service-pgdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=${USER_SERVICE_POSTGRES_PASSWORD}
      - POSTGRES_USER=${USER_SERVICE_POSTGRES_LOGIN}
      - POSTGRES_DB=${USER_SERVICE_POSTGRES_DB_NAME}
    ports:
      - "${USER_SERVICE_POSTGRES_DB_PORT}:5432"
    networks:
      - app-net
  kafka-1:
    image: apache/kafka:4.1.0
    hostname: kafka-1
    container_name: kafka-1
    restart: always
    ports:
      - ${KAFKA_1_EXTERNAL_PORT}:${KAFKA_1_INTERNAL_PORT}
    environment:
      KAFKA_NODE_ID: 1
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:${KAFKA_1_QUORUM_PORT},2@kafka-2:${KAFKA_2_QUORUM_PORT},3@kafka-3:${KAFKA_3_QUORUM_PORT}"
      KAFKA_LISTENERS: "PLAINTEXT://:${KAFKA_1_PLAINTEXT_PORT},CONTROLLER://:${KAFKA_1_QUORUM_PORT},PLAINTEXT_HOST://:${KAFKA_1_INTERNAL_PORT}"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-1:${KAFKA_1_PLAINTEXT_PORT},PLAINTEXT_HOST://localhost:${KAFKA_1_EXTERNAL_PORT}
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      CLUSTER_ID: ${KAFKA_CLUSTED_ID}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: 2
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
    volumes:
      - kafka-1-data:/var/lib/kafka/data
    networks:
      - app-net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:${KAFKA_1_PLAINTEXT_PORT} > /dev/null 2>&1",
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 15s

  kafka-2:
    image: apache/kafka:4.1.0
    hostname: kafka-2
    container_name: kafka-2
    restart: always
    ports:
      - ${KAFKA_2_EXTERNAL_PORT}:${KAFKA_2_INTERNAL_PORT}
    environment:
      KAFKA_NODE_ID: 2
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:${KAFKA_1_QUORUM_PORT},2@kafka-2:${KAFKA_2_QUORUM_PORT},3@kafka-3:${KAFKA_3_QUORUM_PORT}"
      KAFKA_LISTENERS: "PLAINTEXT://:${KAFKA_2_PLAINTEXT_PORT},CONTROLLER://:${KAFKA_2_QUORUM_PORT},PLAINTEXT_HOST://:${KAFKA_2_INTERNAL_PORT}"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-2:${KAFKA_2_PLAINTEXT_PORT},PLAINTEXT_HOST://localhost:${KAFKA_2_EXTERNAL_PORT}
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      CLUSTER_ID: ${KAFKA_CLUSTED_ID}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: 2
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
    volumes:
      - kafka-2-data:/var/lib/kafka/data
    networks:
      - app-net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:${KAFKA_2_PLAINTEXT_PORT} > /dev/null 2>&1",
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 15s

  kafka-3:
    image: apache/kafka:4.1.0
    hostname: kafka-3
    container_name: kafka-3
    restart: always
    ports:
      - ${KAFKA_3_EXTERNAL_PORT}:${KAFKA_3_INTERNAL_PORT}
    environment:
      KAFKA_NODE_ID: 3
      KAFKA_PROCESS_ROLES: "broker,controller"
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: "CONTROLLER:PLAINTEXT,PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT"
      KAFKA_CONTROLLER_QUORUM_VOTERS: "1@kafka-1:${KAFKA_1_QUORUM_PORT},2@kafka-2:${KAFKA_2_QUORUM_PORT},3@kafka-3:${KAFKA_3_QUORUM_PORT}"
      KAFKA_LISTENERS: "PLAINTEXT://:${KAFKA_3_PLAINTEXT_PORT},CONTROLLER://:${KAFKA_3_QUORUM_PORT},PLAINTEXT_HOST://:${KAFKA_3_INTERNAL_PORT}"
      KAFKA_INTER_BROKER_LISTENER_NAME: "PLAINTEXT"
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka-3:${KAFKA_3_PLAINTEXT_PORT},PLAINTEXT_HOST://localhost:${KAFKA_3_EXTERNAL_PORT}
      KAFKA_CONTROLLER_LISTENER_NAMES: "CONTROLLER"
      CLUSTER_ID: ${KAFKA_CLUSTED_ID}
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_GROUP_INITIAL_REBALANCE_DELAY_MS: 0
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 2
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 3
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_REPLICATION_FACTOR: 3
      KAFKA_SHARE_COORDINATOR_STATE_TOPIC_MIN_ISR: 2
      KAFKA_LOG_DIRS: "/var/lib/kafka/data"
    volumes:
      - kafka-3-data:/var/lib/kafka/data
    networks:
      - app-net
    healthcheck:
      test:
        [
          "CMD-SHELL",
          "/opt/kafka/bin/kafka-broker-api-versions.sh --bootstrap-server localhost:${KAFKA_3_PLAINTEXT_PORT} > /dev/null 2>&1",
        ]
      interval: 10s
      timeout: 5s
      retries: 3
      start_period: 15s
  notify_service_redis:
    image: redis:7
    container_name: notify_service_redis
    restart: always
    command: >
      redis-server
      --appendonly yes
      --requirepass ${NOTIFY_SERVICE_REDIS_PASSWORD}
    volumes:
      - notify-service-redis-data:/data
    ports:
      - "${NOTIFY_SERVICE_REDIS_PORT}:6379"
    environment:
      REDIS_PASSWORD: ${NOTIFY_SERVICE_REDIS_PASSWORD}

volumes:
  user-service-pgdata:
  notify-service-redis-data:
  kafka-1-data:
  kafka-2-data:
  kafka-3-data:

networks:
  app-net:
    driver: bridge
