definitions:
  errdetails.BadRequest:
    properties:
      field_violations:
        description: Describes all violations in a client request.
        items:
          $ref: '#/definitions/errdetails.BadRequest_FieldViolation'
        type: array
    type: object
  errdetails.BadRequest_FieldViolation:
    properties:
      description:
        description: A description of why the request element is bad.
        type: string
      field:
        description: "A path that leads to a field in the request body. The value
          will be a\nsequence of dot-separated identifiers that identify a protocol
          buffer\nfield.\n\nConsider the following:\n\n\tmessage CreateContactRequest
          {\n\t  message EmailAddress {\n\t    enum Type {\n\t      TYPE_UNSPECIFIED
          = 0;\n\t      HOME = 1;\n\t      WORK = 2;\n\t    }\n\n\t    optional string
          email = 1;\n\t    repeated EmailType type = 2;\n\t  }\n\n\t  string full_name
          = 1;\n\t  repeated EmailAddress email_addresses = 2;\n\t}\n\nIn this example,
          in proto `field` could take one of the following values:\n\n  - `full_name`
          for a violation in the `full_name` value\n  - `email_addresses[1].email`
          for a violation in the `email` field of the\n    first `email_addresses`
          message\n  - `email_addresses[3].type[2]` for a violation in the second
          `type`\n    value in the third `email_addresses` message.\n\nIn JSON, the
          same values are represented as:\n\n  - `fullName` for a violation in the
          `fullName` value\n  - `emailAddresses[1].email` for a violation in the `email`
          field of the\n    first `emailAddresses` message\n  - `emailAddresses[3].type[2]`
          for a violation in the second `type`\n    value in the third `emailAddresses`
          message."
        type: string
      localized_message:
        allOf:
        - $ref: '#/definitions/errdetails.LocalizedMessage'
        description: |-
          Provides a localized error message for field-level errors that is safe to
          return to the API consumer.
      reason:
        description: |-
          The reason of the field-level error. This is a constant value that
          identifies the proximate cause of the field-level error. It should
          uniquely identify the type of the FieldViolation within the scope of the
          google.rpc.ErrorInfo.domain. This should be at most 63
          characters and match a regular expression of `[A-Z][A-Z0-9_]+[A-Z0-9]`,
          which represents UPPER_SNAKE_CASE.
        type: string
    type: object
  errdetails.LocalizedMessage:
    properties:
      locale:
        description: |-
          The locale used following the specification defined at
          https://www.rfc-editor.org/rfc/bcp/bcp47.txt.
          Examples are: "en-US", "fr-CH", "es-MX"
        type: string
      message:
        description: The localized error message in the above locale.
        type: string
    type: object
  httputils.ErrorResponse:
    properties:
      message:
        type: string
    type: object
  sessionspb.CreateSessionResponse:
    properties:
      access_exp_time:
        $ref: '#/definitions/timestamppb.Timestamp'
      access_token:
        type: string
      refresh_exp_time:
        $ref: '#/definitions/timestamppb.Timestamp'
      refresh_token:
        type: string
    required:
    - access_token
    - refresh_token
    type: object
  timestamppb.Timestamp:
    properties:
      nanos:
        description: |-
          Non-negative fractions of a second at nanosecond resolution. This field is
          the nanosecond portion of the duration, not an alternative to seconds.
          Negative second values with fractions must still have non-negative nanos
          values that count forward in time. Must be between 0 and 999,999,999
          inclusive.
        type: integer
      seconds:
        description: |-
          Represents seconds of UTC time since Unix epoch 1970-01-01T00:00:00Z. Must
          be between -315576000000 and 315576000000 inclusive (which corresponds to
          0001-01-01T00:00:00Z to 9999-12-31T23:59:59Z).
        type: integer
    type: object
  userspb.CreateUserRequest:
    properties:
      email:
        example: makc-dgek@mail.ru
        format: email
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  userspb.CreateUserResponse:
    properties:
      id:
        format: uuid
        type: string
    required:
    - id
    type: object
  userspb.GenderValue:
    enum:
    - 0
    - 1
    - 2
    - 3
    format: int32
    type: integer
    x-enum-varnames:
    - GenderValue_GENDER_UNSPECIFIED
    - GenderValue_GENDER_UNSELECTED
    - GenderValue_GENDER_MALE
    - GenderValue_GENDER_FEMALE
  userspb.Profile:
    properties:
      avatar_url:
        example: /avatars/photo.jpg
        type: string
      birth_date:
        example: "2001-11-23"
        type: string
      first_name:
        example: Ivan
        type: string
      gender:
        allOf:
        - $ref: '#/definitions/userspb.GenderValue'
        description: |-
          GENDER_UNSPECIFIED = 0 Reserved for Proto, not a valid value
          GENDER_UNSELECTED = 1 User has not selected a gender
          GENDER_MALE = 2 Represents male gender
          GENDER_FEMALE = 3 Represents female gender
        example: 1
      last_name:
        example: Ivanov
        type: string
      middle_name:
        example: Olegovich
        type: string
      updated_at:
        $ref: '#/definitions/timestamppb.Timestamp'
    required:
    - gender
    - updated_at
    type: object
  userspb.UpdateUserProfileData:
    properties:
      avatar_url:
        example: /avatars/photo.jpg
        type: string
      birth_date:
        example: "2001-11-23"
        type: string
      first_name:
        example: Ivan
        type: string
      gender_value:
        allOf:
        - $ref: '#/definitions/userspb.GenderValue'
        description: |-
          GENDER_UNSPECIFIED = 0 Reserved for Proto, not a valid value
          GENDER_UNSELECTED = 1 User has not selected a gender
          GENDER_MALE = 2 Represents male gender
          GENDER_FEMALE = 3 Represents female gender
        example: 1
      last_name:
        example: Ivanov
        type: string
      middle_name:
        example: Olegovich
        type: string
    type: object
  userspb.User:
    properties:
      created_at:
        $ref: '#/definitions/timestamppb.Timestamp'
      email:
        example: makc-dgek@mail.ru
        format: email
        type: string
      id:
        format: uuid
        type: string
      phone:
        example: "+79517735133"
        type: string
      profile:
        $ref: '#/definitions/userspb.Profile'
      updated_at:
        $ref: '#/definitions/timestamppb.Timestamp'
    required:
    - created_at
    - email
    - id
    - profile
    - updated_at
    type: object
  userspb.UserSessionActionRequest:
    properties:
      email:
        example: makc-dgek@mail.ru
        format: email
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  userspb.UserSessionActionResponse:
    properties:
      email:
        format: email
        type: string
      user_id:
        format: uuid
        type: string
      user_session_action_status:
        allOf:
        - $ref: '#/definitions/userspb.UserSessionActionStatus'
        description: |-
          SESSION_STATUS_UNSPECIFIED = 0 Reserved for Proto, not a valid value
          SESSION_STATUS_DELETED = 1 User account is deleted
          SESSION_STATUS_EMAIL_NOT_VERIFIED = 2 User email address not verfied
          SESSION_STATUS_BAD_CREDENTIALS = 3 Invalid login or password
          SESSION_STATUS_OK = 4 Success value
        example: 2
    required:
    - user_session_action_status
    type: object
  userspb.UserSessionActionStatus:
    enum:
    - 0
    - 1
    - 2
    - 3
    - 4
    format: int32
    type: integer
    x-enum-varnames:
    - UserSessionActionStatus_SESSION_STATUS_UNSPECIFIED
    - UserSessionActionStatus_SESSION_STATUS_DELETED
    - UserSessionActionStatus_SESSION_STATUS_EMAIL_NOT_VERIFIED
    - UserSessionActionStatus_SESSION_STATUS_BAD_CREDENTIALS
    - UserSessionActionStatus_SESSION_STATUS_OK
info:
  contact:
    email: f3d0t0tvmax@yandex.ru
    name: Fedotv Maxim (developer)
  description: Swagger Documentation for API Gateway of microservices shop project
  title: Swagger Documentation for microservices shop API Gateway
  version: "1.0"
paths:
  /customers/session/login:
    post:
      consumes:
      - application/json
      description: Login in account
      parameters:
      - description: Dto for login in account
        in: body
        name: dto
        required: true
        schema:
          $ref: '#/definitions/userspb.UserSessionActionRequest'
      - description: Locale
        in: header
        name: X-Request-Locale
        type: string
      - description: security code from email when user login from new device or ip
          address
        in: query
        name: bypass_code
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/sessionspb.CreateSessionResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errdetails.BadRequest'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/userspb.UserSessionActionResponse'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Login in account
      tags:
      - customers
  /customers/users:
    post:
      consumes:
      - application/json
      description: Create new user account
      parameters:
      - description: Create user account with body dto
        in: body
        name: dto
        required: true
        schema:
          $ref: '#/definitions/userspb.CreateUserRequest'
      - description: Locale
        in: header
        name: X-Request-Locale
        type: string
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/userspb.CreateUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errdetails.BadRequest'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Create user account
      tags:
      - customers
  /customers/users/{id}:
    get:
      consumes:
      - application/json
      description: Get user base info by id
      parameters:
      - description: User id parameter
        in: path
        name: id
        required: true
        type: string
      - description: Locale
        in: header
        name: X-Request-Locale
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/userspb.User'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errdetails.BadRequest'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Get user base info by id
      tags:
      - customers
    patch:
      consumes:
      - application/json
      description: Update user profile
      parameters:
      - description: User id parameter
        in: path
        name: id
        required: true
        type: string
      - description: Update user profile with body dto
        in: body
        name: dto
        required: true
        schema:
          $ref: '#/definitions/userspb.UpdateUserProfileData'
      - description: Locale
        in: header
        name: X-Request-Locale
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errdetails.BadRequest'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Update user profile
      tags:
      - customers
swagger: "2.0"
