package icon

import "fmt"
import "github.com/fedotovmax/microservices-shop/customer-site/pkg/utils"
import "github.com/fedotovmax/microservices-shop/customer-site/internal/resources"

type Props struct {
	Class string
	Attrs templ.Attributes
	Icon  ID
}

templ Icon(props *Props) {
	<svg class={ utils.TwMerge("w-6 h-6 fill-current transition-colors", props.Class) } { props.Attrs... }>
		<use xlink:href={ fmt.Sprintf("%s#%s", resources.SpriteName, props.Icon) }></use>
	</svg>
}
