definitions:
  errdetails.BadRequest:
    properties:
      field_violations:
        description: Describes all violations in a client request.
        items:
          $ref: '#/definitions/errdetails.BadRequest_FieldViolation'
        type: array
    type: object
  errdetails.BadRequest_FieldViolation:
    properties:
      description:
        description: A description of why the request element is bad.
        type: string
      field:
        description: "A path that leads to a field in the request body. The value
          will be a\nsequence of dot-separated identifiers that identify a protocol
          buffer\nfield.\n\nConsider the following:\n\n\tmessage CreateContactRequest
          {\n\t  message EmailAddress {\n\t    enum Type {\n\t      TYPE_UNSPECIFIED
          = 0;\n\t      HOME = 1;\n\t      WORK = 2;\n\t    }\n\n\t    optional string
          email = 1;\n\t    repeated EmailType type = 2;\n\t  }\n\n\t  string full_name
          = 1;\n\t  repeated EmailAddress email_addresses = 2;\n\t}\n\nIn this example,
          in proto `field` could take one of the following values:\n\n  - `full_name`
          for a violation in the `full_name` value\n  - `email_addresses[1].email`
          for a violation in the `email` field of the\n    first `email_addresses`
          message\n  - `email_addresses[3].type[2]` for a violation in the second
          `type`\n    value in the third `email_addresses` message.\n\nIn JSON, the
          same values are represented as:\n\n  - `fullName` for a violation in the
          `fullName` value\n  - `emailAddresses[1].email` for a violation in the `email`
          field of the\n    first `emailAddresses` message\n  - `emailAddresses[3].type[2]`
          for a violation in the second `type`\n    value in the third `emailAddresses`
          message."
        type: string
      localized_message:
        allOf:
        - $ref: '#/definitions/errdetails.LocalizedMessage'
        description: |-
          Provides a localized error message for field-level errors that is safe to
          return to the API consumer.
      reason:
        description: |-
          The reason of the field-level error. This is a constant value that
          identifies the proximate cause of the field-level error. It should
          uniquely identify the type of the FieldViolation within the scope of the
          google.rpc.ErrorInfo.domain. This should be at most 63
          characters and match a regular expression of `[A-Z][A-Z0-9_]+[A-Z0-9]`,
          which represents UPPER_SNAKE_CASE.
        type: string
    type: object
  errdetails.LocalizedMessage:
    properties:
      locale:
        description: |-
          The locale used following the specification defined at
          https://www.rfc-editor.org/rfc/bcp/bcp47.txt.
          Examples are: "en-US", "fr-CH", "es-MX"
        type: string
      message:
        description: The localized error message in the above locale.
        type: string
    type: object
  httputils.ErrorResponse:
    properties:
      message:
        type: string
    type: object
  userspb.CreateUserRequest:
    properties:
      email:
        type: string
      password:
        type: string
    type: object
  userspb.CreateUserResponse:
    properties:
      id:
        type: string
    type: object
info:
  contact:
    email: f3d0t0tvmax@yandex.ru
    name: Fedotv Maxim (developer)
  description: Swagger Documentation for API Gateway of microservices shop project
  title: Swagger Documentation for microservices shop API Gateway
  version: "1.0"
paths:
  /customers/users:
    post:
      consumes:
      - application/json
      description: Create new user account
      parameters:
      - description: Create user account with body dto
        in: body
        name: dto
        required: true
        schema:
          $ref: '#/definitions/userspb.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/userspb.CreateUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/errdetails.BadRequest'
        "403":
          description: Forbidden
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httputils.ErrorResponse'
      summary: Create user account
      tags:
      - /customers/users
swagger: "2.0"
