package modal

import "fmt"

type ModalProps struct {
	InitialOpen bool
}

const ModalComponentData = "modal"

templ Modal(props *ModalProps) {
	<div x-data={ fmt.Sprintf("%s(%t)", ModalComponentData, props.InitialOpen) }>
		{ children... }
	</div>
}
